@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
nav {
  background: #364f6b;
}
nav:after {
  content: "";
  clear: both;
  display: table;
}
nav .logo {
  float: left;
  color: white;
  font-size: 27px;
  font-weight: 600;
  line-height: 70px;
  padding-left: 60px;
}
nav ul {
  float: right;
  margin-right: 40px;
  list-style: none;
  position: relative;
}
nav ul li {
  display: inline-block;
  background: #364f6b;
  margin: 0 5px;
}
nav ul li:hover {
  transform: scale(1.1);
}
nav ul li a {
  color: white;
  line-height: 70px;
  text-decoration: none;
  font-size: 18px;
  padding: 8px 15px;
}
nav ul li a:hover {
  color: cyan;
  border-radius: 5px;
  box-shadow: 0 0 5px #33ffff, 0 0 10px #66ffff;
}
nav ul ul li a:hover {
  box-shadow: none;
}
nav ul ul {
  position: absolute;
  top: 90px;
  border-top: 3px solid cyan;
  opacity: 0;
  visibility: hidden;
  transition: top 0.3s;
}
nav ul ul ul {
  border-top: none;
}
nav ul li:hover > ul {
  top: 70px;
  opacity: 1;
  visibility: visible;
}
nav ul ul li {
  position: relative;
  margin: 0px;
  width: 200px;
  float: none;
  display: list-item;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
nav ul ul li a {
  line-height: 50px;
}
nav ul ul ul li {
  position: relative;
  top: -60px;
  left: 150px;
}
.show,
.icon,
input {
  display: none;
}
.fa-plus {
  font-size: 15px;
  margin-left: 40px;
}

form {
  background-color: #3fc1c9;
  width: 300px;
  height: 44px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  float: right;
  margin-right: 1.5rem;
  margin-top: 0.9rem;
}

input {
  all: unset;
  font: 16px system-ui;
  color: #fff;
  height: 100%;
  width: 100%;
  padding: 6px 10px;
}

::placeholder {
  color: #fff;
  opacity: 0.7;
}

button {
  all: unset;
  cursor: pointer;
  width: 44px;
  height: 44px;
  color: white;
}
button:hover {
  color: #fc5185;
}

@media all and (max-width: 968px) {
  nav ul {
    margin-right: 0px;
    float: left;
  }
  nav .logo {
    padding-left: 30px;
    width: 100%;
  }
  .show + a,
  ul {
    display: none;
  }
  nav ul li,
  nav ul ul li {
    display: block;
    width: 100%;
  }
  nav ul li a:hover {
    box-shadow: none;
  }
  .show {
    display: block;
    color: white;
    font-size: 18px;
    padding: 0 20px;
    line-height: 70px;
    cursor: pointer;
  }
  .show:hover {
    color: cyan;
  }
  .icon {
    display: block;
    color: white;
    position: absolute;
    top: 0;
    right: 40px;
    line-height: 70px;
    cursor: pointer;
    font-size: 25px;
  }
  nav ul ul {
    top: 70px;
    border-top: 0px;
    float: none;
    position: static;
    display: none;
    opacity: 1;
    visibility: visible;
  }
  nav ul ul a {
    padding-left: 40px;
  }
  nav ul ul ul a {
    padding-left: 80px;
  }
  nav ul ul ul li {
    position: static;
  }
  [id^="btn"]:checked + ul {
    display: block;
  }
  nav ul ul li {
    border-bottom: 0px;
  }
  span.cancel:before {
    content: "\f00d";
  }
}
.content {
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
header {
  font-size: 35px;
  font-weight: 600;
  padding: 10px 0;
}
p {
  font-size: 30px;
  font-weight: 500;
}

form {
  margin-left: 1rem;
}

/*this is for the awareness container*/

.aw_h1 {
  margin-left: 50px;
  margin-top: 50px;
}
.opensettings_btn {
  background-color: #5e81f4 !important;
  color: #fff;
  height: 50px;
  border-radius: 8px;
  font-weight: 600;
  width: 300px;
  text-align: center;
  margin-left: 50px;
  margin-bottom: 40px;
}

.vertical-menu {
  width: 400px;
  height: 400px;
  overflow-y: auto;
  margin-top: 20px;
  border-radius: 15px;
  border: 5px solid orange;
  margin-left: 50px;
  text-align: center;
  background-color: palegreen;
}

.vertical-menu a {
  background-color: white;
  color: black;
  display: block;
  padding: 10px 5px;
  text-align: center;
  text-decoration: none;
  background-color: palegreen;
}

.vertical-menu a:hover {
  background-color: #ccc;
}

.vertical-menu a.active {
  background-color: palegreen;
  color: black;
  height: 60px;
}
.vertical-menu input[type="text"] {
  float: right;
  padding: 6px;
  margin-top: 8px;
  border: none;
  font-size: 17px;
  width: 180px;
  height: 40px;
}

/*this is for the slideshow in the right*/
/*--------------------------------------------------------*/

/* Slideshow container */
.slideshow-container {
  max-width: 600px;
  position: relative;
  margin: auto;
  margin-top: 50px;
}
/*this is for the text_container*/

.text_container {
  margin-top: 30px;
}
.text_container img {
  margin-right: 20px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/*this code is for the second container*/
/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 3px;
}

.row {
  margin: 0 -5px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 10px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 5px;
  text-align: center;
  background-color: #444;
  color: white;
}

.fa {
  font-size: 30px;
}
/*this is the code for the third container*/
.th_btn {
  background-color: #5e81f4 !important;
  color: #fff;
  height: 50px;
  border-radius: 8px;
  font-weight: 600;
  width: 300px;
  text-align: center;
  margin-left: 50px;
  margin-bottom: 40px;
  margin-top: 30px;
}

.third_container {
  margin-top: 50px;
}

.p_btn {
  background-color: #5e81f4 !important;
  color: #fff;
  height: 50px;
  border-radius: 8px;
  font-weight: 600;
  width: 300px;
  text-align: center;
  margin-left: 50px;
  margin-bottom: 40px;
  margin-top: 30px;
}

/* -------------------------------------------------------- */
/* -------------------------------------------------------- */

img {
  float: left;
}

/* -------------------------------------------------------- */
/* -------------------------------------------------------- */
